body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.brand-name{
  width:75%;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
  text-decoration: none;

}

.brand-desc{
  font-family: 'Martian Mono', monospace;
  color:white;
  font-size:1.25rem;
}

#nav1{
  background-color:black; /*whichever you want*/
    opacity: 0.7; 
    filter:(opacity=50);  
}

.white-sucker{
  color:white;
}

@media only screen and (max-width: 987px){
  .navbar-brand{
      padding-left: 0px;
  }
}

@media only screen and (max-width: 768px){
  #banner-row img{
      padding-top: 20px;
  }

 .social-col{
     width: 33%;
 }

}


.typeWriterText{
  font-size:"3.125rem";
  text-decoration:"none";
  color: "white";
}

.text-responsive{
  font-size: calc(100% + 3vw + 3vh);
}


@media (min-width: 544px) {  
  h1 {font-size:1.5rem;} /*1rem = 16px*/
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  h1 {font-size:2rem;} /*1rem = 16px*/
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h1 {font-size:2.5rem;} /*1rem = 16px*/
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  h1 {font-size:3rem;} /*1rem = 16px*/    
}